html {
  font-size: 14px;
}

body {
  background: url('../images/siebel-building.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.navbar-scicomp {
  background-color: #13294b;
  opacity: 0.75;
}

.main-block {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.main-subblock {
  display: table-cell;
  vertical-align: middle;
}

.main-scicomp, .btn-scicomp {
  background-color: white;
  opacity: 0.75;
}

.btn-scicomp {
  border-radius: 0;
  width: 100%;
}

.sub-container {
  margin-top: 100px;
  opacity: 1.0;
  padding: 50px;
  margin-bottom: 100px;
}

.main-container {
  margin-top: 100px;
}

.faculty-card {
  padding: 25px;
  border: 0px;
}

.row-course {
  margin-top: 25px;
  padding-top: 25px;
}
