{% extends "_layout.html" %}
{% set active_page = "Contact" %}
{% block title %}
Scientific Computing @ Illinois | Contact
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
{% endblock %}

{% block extra_scripts %}
 <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
<script type="text/javascript">

  // create a map in the "map" div, set the view to a given place and zoom
  var map = L.map('map').setView([40.114, -88.225], 17);

  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  // add a marker in the given location, attach some popup content to it and open the popup
  L.marker([40.11379, -88.22482]).addTo(map)
  .bindPopup('Siebel Center<br> Department of Computer Science')
      .openPopup();
</script>
{% endblock %}

{% block content %}
<div class="container main-scicomp sub-container">
  <h1>Get in touch</h1>

  <div id="map" style="height:500px; margin-bottom:3ex"></div>

  <p>You can find us on the fourth floor, southeast corner of the
  <a href="http://cs.illinois.edu/about-us/directions-siebel-center">Thomas M. Siebel Center for Computer Science</a>.
  </p>

  <p>Here's our mailing address:</p>

  Scientific Computing Group<br>
  Department of Computer Science<br>
  201 N. Goodwin Ave<br>
  Urbana, IL 61801

  <hr/>

  <p>
  <span style="font-size:large; margin-right:0.5em">
    <i  class="fa fa-envelope-o"></i>
  </span>
  <b>Not sure who to contact?</b> Don't hesitate to send <a
    href="people.html#faculty">one of us</a> an email.
  </p>
</div>
{% endblock %}
