{% set navbar = [
    ('index.html'    , 'Home'),
    ('study.html'    , 'PhD Program'),
    ('people.html'   , 'People'),
    ('courses.html'  , 'Courses'),
    ('contact.html' , 'Contact')
] -%}
{% set active_page = active_page|default('Home') -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Scientific Computing Group, Computer Science, University of Illinois at Urbana-Champaign">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Luke Olson">
    <link rel="shortcut icon" href="./images/favicon.ico" sizes="32x32">

    <title>{% block title %}{% endblock %}</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link href="css/scicomp.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark navbar-scicomp fixed-top">
      <a class="navbar-brand" href="http://illinois.edu">
        <img src="./images/Illinois-Logo-Full-Color-RGB.png" height="25" alt="Illinois logo">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarDefault">
        <ul class="navbar-nav ml-auto">
          {% for href, id in navbar %}
          <li class="nav-item">
          <a {% if id == active_page %}class="nav-link active font-weight-bold"{% else %}class="nav-link"{% endif %} href="{{ href|e }}"><span style="color: rgba(255, 255, 255, 1.0);">{{ id|e }}</span> {% if id == active_page %}<span class="sr-only">(current)</span>{% endif %}</a>
          {% endfor %}
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>

    {% block extra_scripts %}
    {% endblock %}

  </body>
</html>
