{% extends "_layout.html" %}
{% set active_page = "PhD Program" %}
{% block title %}
Scientific Computing @ Illinois | People
{% endblock %}

{% block content %}

<div class="container main-scicomp sub-container">

  <h1>PhD in Computer Science in the area of Scientific Computing</h1>

  <div class="row row-course">
    <div class="col-md-4">
      <div class="card card-block" style="padding: 20px;">
        <h3 class="card-title">About the PhD</h3>
        <p class="card-text">
        Students in the <b>Scientific Computing and Numerical Analysis group</b> receive
        PhD degrees from the <a href="http://www.cs.illinois.edu">Department of Computer
          Science</a> at the University of Illinois at Urbana-Champaign.
        </p>
      </div>
    </div>

    <div class="col-md-8">
      <p>
        Are you interested in <b>numerical algorithms</b>? Topics like
        finite elements,
        multigrid solvers,
        integral equations,
        spectral element methods,
        fast algorithms,
        large-scale applications,
        or
        high-performance parallell algorithms?
      </p>

      <p>
      Students in our group pursue research in areas ranging from computation to
      mathematical theory. We collaborate closely with our colleauges in the
      numerous excellent <a href="www.engineering.illinois.edu">engineering
      departments</a> at Illinois, as well as with the Physical and Social Sciences.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>How To Apply:
        <span class="text-muted">Guidelines and Deadlines</span>
      </h2>

      Applicants submit their applications through the <a
        href="http://cs.illinois.edu/prospective-students/graduate-students/ms-phd-programs">Department
      of Computer Science</a>, which starts with an online application through the
      Graduate College.

      <ul class="fa-ul" style="margin-top:1.5ex">
        <li><i class="fa-li fa fa-check-square"></i>
          Applications are <b>due in December</b>.
        </li>
        <li>
          <i class="fa-li fa fa-check-square"></i>
          <b>Letters of Recommendation</b> from someone who works on Scientific
          Computing, Numerical Analaysis, or High-Performance Computing help us
          understand how well-prepared you are for a PhD at Illinois.
        </li>
        <li><i class="fa-li fa fa-check-square"></i>
          Mention your <b>specific interest</b> in Scientific Computing in your Statement
          of Purpose as well as what particular area you have experience with and
          may want to do research on.  Including this information does <em>not</em>
          lock you into working in that particular sub-area. Finding your niche
          takes time, and we understand that.

          In fact, students can switch (and have switched) to even entirely different
          groups (such as <a href="https://wiki.cites.illinois.edu/wiki/display/theory/Home">theory</a>
          or <a href="http://cs.illinois.edu/research/research-areas/architecture-compilers-and-parallel-computing">parallel computing</a>)
          within the CS department.
        </li>
        <li><i class="fa-li fa fa-check-square"></i>
        Select "Scientific Computing" as an <b>area of interest</b> when you fill out the Department's interest form.
        </li>
        <li><i class="fa-li fa fa-check-square"></i>
          In addition, try to identify some
          <b><a href="people.html#faculty">faculty</a></b> whose research sounds interesting!
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <div class="text-center" style="padding-top:40%">
        <a class="btn btn-primary btn-lg" role="button" href="http://cs.illinois.edu/prospective-students/graduate-students/ms-phd-programs">Apply Now</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div style="padding-left:15%; padding-right:15%; padding-top:5ex;">
        <img class="img-fluid rounded" src="images/who-we-are.jpeg" alt="Generic placeholder image">
      </div>
    </div>

    <div class="col-md-8">
      <h2>What To Expect:&nbsp;
        <span class="text-muted">Curriculum &middot Connections &middot Community</span></h2>
      <p>

      The PhD requires 64 or 96 hours of credit, depending on whether you enter with a masters or a bachelors degree.  The specific <i>Program of Study</i> (POS) is felxible, but generally our students take
      <a href="courses.html#CS450">Numerical Analysis (CS450)</a>, the <a href="courses.html#CS554">500-level courses</a> in our area, and some courses in parallel computing, theory, and engineering.  In addition, the <a href="http://cse.illinois.edu/students/undergraduate-program/certificate-option">Computational Science and Engineering (CSE) Certificate Option</a> is often pursued.
      </p>

      <p>
      We typically have around 20 graduate students in Scientific Computing
      (check out our <a href="people.html#alumni">alumni</a> over the last
      several decades!)  Our goal is a fun and <i>positive</i> atmosphere in Scientific
      Computing to help you take classes, study for the qualifying exam, and
      collaborate on research toward your PhD.
      </p>

      <p>
      We maintain close connections with major national and international research
      centers in numerical analysis and computing.
      For example, many of our students find it useful to collaborate with scientists
      at Department of Energy national laboratories such as Lawrence Livermore,
      Argonne, Sandia, and Los Alamos.
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>Frequently Asked Questions</h2>
      <dl>
        <dt>
          Is funding is guaranteed for Ph.D students?
        </dt>
        <dd>
          If you are admitted to the PhD program, your offer will typically include
          a promise of funding for a number of years, contingent on passing exams
          and making adequate progress in your studies.
        </dd>
        <dt>
          I come from an applied mathematics/engineering/science/... background.
          Will I be at disadvantage in a computer science department?
        </dt>
        <dd>
          No, definitely not. Course prerequisites can be adapted or waived by
          instructors, and because we have such a strong scientific computing
          group, our department is used to (and likes having!) students with
          strong math backgrounds even if they have fewer CS courses.
        </dd>
      </dl>
    </div>

    <div class="col-md-4 text-center">
      <span style="font-size:120px"><i class="fa fa-question-circle"></i></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <span style="font-size:120px"><i class="fa fa-graduation-cap"></i></span>
    </div>

    <div class="col-md-8">
      <h2>Interested?</h2>
      If you want to learn more:
      <ul>
        <li>... visit the <a href="https://wiki.cites.illinois.edu/wiki/display/siam/home">SIAM Student Chapter</a>. </li>
        <li>... dive into our <a href="people.html">research</a> to see how we spend our time.</li>
        <li>... take a look at our <a href="courses.html">courses</a>.</li>
        <li>... apply and visit!</li>
      </ul>
    </div>
  </div>

</div>

{% endblock %}
